@use "@/styles/_variables.scss" as *;

.overlay-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100svh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.overlay-wrapper.non-centered {
  justify-content: flex-start;
  align-items: flex-start;
}
