@use "@/styles/_variables.scss" as *;

.blinking-input-wrapper {
  position: relative;
  outline: $violet;

  .blinking-input-input {
    width: 100%;
    padding: 10px 12px;
    font-family: var(--font-work-sans), sans-serif;
    font-size: 20px;
    line-height: 28px;
    // outline: $border;

    &::placeholder {
      color: rgba(26, 26, 26, 0.6);
      text-indent: 8px;
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   left: 12px;
  //   transform: translateY(-50%);
  //   width: 1.5px;
  //   height: 24px;
  //   background: var(--color-slate-900, #0f172a);
  //   animation: smooth-blink 1.2s ease-in-out infinite;
  // }
}

@keyframes smooth-blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
