// _variables.scss
$border: 2px solid teal;
$red: 2px solid red;
$violet: 2px solid violet;
$maroon: 2px solid maroon;
$portrait: 500px;
$landscape: 1024px;
$desktop: 1200px;
$desktopXL: 1800px;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
