@use "@/styles/_variables.scss" as *;

.logo {
  color: rgba(26, 26, 26, 0.8);
  font-feature-settings: "liga" off, "clig" off;
  font-family: var(--font-ultra), sans-serif;
  // border: $border;

  .logo-container {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .logo-top {
      font-size: 8px;
      letter-spacing: 0.08px;
      line-height: 100%;
    }
    .logo-bottom {
      font-size: 14px;
      letter-spacing: 0.14px;
      line-height: 100%;
    }
  }

  @media (min-width: $portrait) {
    // border: $border;

    .logo-container {
      gap: 4px;

      .logo-top {
        font-size: 12px;
        letter-spacing: 0.12px;
      }
      .logo-bottom {
        font-size: 16px;
        letter-spacing: 0.16px;
      }
    }
  }
}
