@use "@/styles/_variables.scss" as *;

.public-filled-container {
  @include flex-column;
  min-height: 100svh;
  padding: 88px 24px 0;
  // border: $border;

  .public-filled-hero {
    @include flex-column;
    gap: 24px;
    // outline: $border;

    &-text {
      @include flex-column;
      gap: 4px;

      h2 {
        color: rgba(26, 26, 26, 0.8);
        font-family: var(--font-work-sans), sans-serif;
        line-height: 24px;
        letter-spacing: 0.16px;
      }
      p {
        color: rgba(26, 26, 26, 0.9);
        font-family: var(--font-ultra), sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 56px;
      }
    }
  }
  .public-filled-timer {
    @include flex-column;
    gap: 4px;
    padding: 20px 16px 16px 16px;
    margin-top: auto;
    margin-bottom: 40px;
    border-radius: 8px;
    background: #f1f5f9;
    // outline: $border;

    p {
      color: rgba(26, 26, 26, 0.6);
      font-family: var(--font-work-sans), sans-serif;
      line-height: 24px;
      letter-spacing: 0.16px;
    }

    p + p {
      color: rgba(26, 26, 26, 0.8);
      font-family: var(--font-ultra), sans-serif;
      font-size: 40px;
      line-height: 56px;
      letter-spacing: 2px;
    }
  }
  .public-filled-footer {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin: 12px 0 24px;
    // border: $border;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      width: 100%;
      padding: 12px 24px;
      border-radius: 8px;
      background: #1a1a1a;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);

      p {
        color: var(--color-50, #fafafa);
        font-feature-settings: "liga" off, "clig" off;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        letter-spacing: 0.16px;
      }
    }

    .public-challenge-action-menu-wrapper {
      position: relative;

      button {
        width: auto;
        padding: 16px;
        background: transparent;
        box-shadow: none;
        transition: background 0.4s ease;
      }

      .bg-active-grey {
        background: rgba(26, 26, 26, 0.08);
      }

      &[aria-expanded="true"] .public-challenge-action-menu {
        height: auto;
        visibility: visible;
      }

      .public-challenge-action-menu {
        position: absolute;
        bottom: 100%;
        margin-bottom: 20px;
        right: 0;
        width: 224px;
        background: var(--color-slate-white, #fff);
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
        border-radius: 6px;
        border: 1px solid var(--slate-100, #f1f5f9);
        //Height Animation
        height: 0;
        overflow: clip;
        visibility: hidden;
        transition: height 1.5s ease, visibility 2s;
        // border: $border;

        ul {
          @include flex-column;
          align-items: flex-start;
          font-family: Inter;
          //err I don't think we need to use var(--font-inter) here
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;

          img {
            width: 16px;
            height: 16px;
          }

          li {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 11px 13px;
            width: 100%;
            transition: background 0.4s ease;
            cursor: pointer;

            p {
              color: var(--slate-700, #334155);
            }

            &:hover {
              background: rgba(26, 26, 26, 0.08);
            }
          }
        }
      }
    }
  }
}
