@use "@/styles/_variables.scss" as *;
@import "@/styles/_inputs.scss";

.challenger_container {
  border: $violet;

  form {
    display: flex;
    flex-direction: column;

    .input-group {
    }
  }
}
